<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' type="text/css" href="{% static 'accounts/style.css' %}" id="theme_css">
    <link href="https://fonts.googleapis.com/css?family=Calistoga&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Public+Sans&display=swap" rel="stylesheet">
    <script src="{% static 'accounts/javascript.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js" 
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>Story 8</title>

    <script type="text/javascript">
      $(document).ready(function(){
        loadScreen();
        $('#submit').click(function(event){
          search();
        })
      })
    </script>
  </head>
  <body>
    <div class="titlebg">
      <h2>Search for a Book</h2>
    </div>
    <div class = "row">
        <div style = "margin-left: 2vw"></div>
        <input type="text" id = "searchbox" placeholder="i.e kamasutra">
        <input type="submit" name="masuk" class="button" id = "submit" value = "Search"></button>
    </div>
    <div style = "display: flex; flex-direction: row;">
        <table id = "book_container" style="width:100%">

        </table>
    </div>

  </body>
</html>
