body{
  background-color: pink;

}
.titlebg{
  margin-left: 30%;
}
.row{
  margin-left: 35%;
  margin-bottom: 3vw;
}
.masuk{
  margin-left: 35%;
  margin-bottom: 3vw;
}

p {
    font-family: 'Public Sans', sans-serif;
    font-size: 1.7vw;
    color: black;
}

.left {
    width: 50%;
    height: auto;
    padding-right: 2vw;
    flex-direction: column;
    /* background-color: aqua; */
}

.right {
    width: 50%;
    height: auto;
    flex-direction: column;
}


.hi h1, h2 {
    font-family: 'Calistoga', cursive;
    font-size: 5vw;
    color: black;
    z-index: -1;
}

.hi p{
    z-index: 1;
    position: absolute;
    font-size: 1.7vw;
    margin-top: -4.5vw;
    margin-left: 2vw;
    letter-spacing: 0.5em;
    color: black;
    font-family: 'Public Sans', sans-serif;

}

#hitransparent h1 {
    color: rgba(255, 255, 255, 0.2);
}

#submit {
    font-family: 'Public Sans', sans-serif;
    background: #202020;
    color: white;
}

table, th {
    font-family: 'Public Sans', sans-serif;
    font-weight: 700;
    border: 1.5px solid white;
    border-collapse: collapse;
    color: white;
}
td {
    font-family: 'Public Sans', sans-serif;
    font-weight: 700;
    border: 1px solid #ccc;
    background-color: white;
    border-collapse: collapse;
    color: #151515;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

th, td, tr {
    padding: 1vw;
}

#number {
    width: 1vw;
}

#title {
    width: 22vw;
}

#author {
    width: 22vw;
}

#publisher {
    width: 22vw;
}

#searchbox {
  font-family: 'Public Sans', sans-serif;

}
